 ymplayer {
     font-size: 1rem!important;
 }
 
 ymplayer a {
     text-decoration: none!important;
     border-bottom: none!important;
     border-top: none!important;
 }
 
 .ym-songinfo p {
     margin-top: 0!important;
     margin-bottom: 0!important;
     line-height: 1.5!important;
 }

 .ym-progress {
 	line-height: 1.5!important;
 }
